@use 'styles/fonts';

.wrap {

  .wrapInput {
    position: absolute;
    right: 25px;
    top: 25px;

    textarea {
      font-family: fonts.$sans;
      font-size: 20px;
      height: 150px;
      height: 300px;
      padding: 10px;
      line-height: 1.35em;
    }

  }

  .wrapWheel {
    position: absolute;
    left: 50%;
    top: 50%;
    transform: translate(-50%, -50%);
  }

}
